<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="assName" value="xiketang.com.TeachDemo03"/>
    <add key="className" value="xiketang.com.TeachDemo03.Dean"/>
  </appSettings>
</configuration>